@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: "#09101D";
	--hover-text-effect: "#121A27";
}

@media (prefers-color-scheme: dark) {
}

body {
	background: var(--background-end-rgb);
}

/* navbar section */
.navbar {
	position: sticky;
	top: 0;
	z-index: 999;
}
.nav-bar-links > ul > li {
	cursor: pointer;
	margin-right: 2rem;
	font-weight: 500;
	font-size: 15px;
}

.nav-bar-links > ul > li:hover {
	color: #667da3;
}
