@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: "#09101D";
	--hover-text-effect: "#121A27";
}

@media (prefers-color-scheme: dark) {
}

body {
	background: var(--background-end-rgb);
}

/* navbar section */
.navbar {
	position: sticky;
	top: 0;
	z-index: 999;
}
.nav-bar-links > ul > li {
	cursor: pointer;
	margin-right: 2rem;
	font-weight: 500;
	font-size: 15px;
}

.nav-bar-links > ul > li:hover {
	color: #b8babe;
}

/* video component design */
.video-container {
	/* height: 800px; */
	position: relative;
	/* display: flex; */
	justify-content: center;
	align-items: center;
}
.top-color {
	height: 720px;
	width: 100%;
	position: absolute;
	background: linear-gradient(to right, #09101d, #09101db6 50%, #09101d);
}
.btn-primary:hover {
	background-color: #d8251cb8;
	box-shadow: #fa655d 0px 5px 15px;
}

.bottom-nav {
	position: absolute;
	bottom: 0;
	/* right: 50%; */
	margin-top: 10rem;
	width: 100%;
	margin: 0 auto;
}

.hero-more {
	justify-content: left;
}
